<div style="display: flex;align-items: center;justify-content: center;width: 100%;height: 100%">
	<h1 style="color:var(--text-primary);text-align:center">@Configuration.GetVariable("LIGHTTUBE_MOTD", "Search something to get started!")</h1>
</div>