@model BaseContext

<h1>How to use an RSS feed reader with LightTube</h1>

<p>To get a customized RSS feed that contains all the videos of the channels you're subscribed to, just enter the following parameters in your RSS reader:</p>

<table>
	<tbody>
		<tr>
			<th>
				URL
			</th>
			<td>
				<code>https://@Context.Request.Host/feed/rss.xml</code>
			</td>
		</tr>
		<tr>
			<th>
				Username
			</th>
			<td>
				@if (Model.User is not null) {
					<code>@Model.User.UserID</code>
				}
				else
				{
					@:Your UserID in this LightTube instance
				}
			</td>
		</tr>
		<tr>
			<th>
				Password
			</th>
			<td>
				Your password in this LightTube instance
			</td>
		</tr>
	</tbody>
</table>

<p>If the RSS reader you use does not support username/password authentication, just put the following in the URL parameter:</p>

@if (Model.User is not null) {
	<code>https://@Model.User.UserID:&lt;your password&gt;@@@Context.Request.Host/feed/rss.xml</code>
}
else
{
	<code>https://&lt;username&gt;:&lt;password&gt;@@@Context.Request.Host/feed/rss.xml</code>
}