@model BaseContext

@{
	Layout = "_SettingsLayout";
	Model.Title = Model.Localization.GetRawString("settings.account.htmltitle");
}

<h1 class="title">@Model.Localization.GetString("settings.account.title")</h1>

<a href="/account/delete" class="btn-outline btn-blue" style="width:fit-content;">
	<span class="text">
		@Model.Localization.GetString("settings.account.delete")
	</span>
</a>