@model BaseContext

@{
	Layout = "_SettingsLayout";
}

<h1 class="title">Account Settings</h1>

<a href="/account/delete" class="btn-outline btn-blue" style="width:fit-content;">
	<span class="text">
		Delete Account
	</span>
</a>