<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>LightTube</title>
</head>
<body style="display: flex;align-items: center;justify-content: center;">
<h1 style="width: fit-content;">shhh...<br>let's not leak<br>our hard work</h1>
</body>
</html>