@if (Context.Request.Cookies.TryGetValue("token", out string token))
{
	@try
	{
		LTUser user = await DatabaseManager.GetUserFromToken(token);

		<div class="guide-item"><a>@user.Email.Split("@")[0]</a></div>
		<div class="guide-item"><a href="/Account/Logins">Settings</a></div>
		<div class="guide-item"><a href="/Account/Logins">Active logins</a></div>
        <div class="guide-item"><a href="/Account/Logout">Log out</a></div>
	}
	catch
	{
		<div class="guide-item"><a href="/Account/Login">Log in</a></div>
		<div class="guide-item"><a href="/Account/Register">Register</a></div>
	}
}
else
{
	<div class="guide-item"><a href="/Account/Login">Log in</a></div>
	<div class="guide-item"><a href="/Account/Register">Register</a></div>
}

