@using ChannelTab = InnerTube.Models.ChannelTab
@model (ChannelTab Tab, string Id, LightTube.Localization.LocalizationManager Localization)
@{
	string className = "channel-tabs__item";
	
	if (Model.Tab.Selected)
	{
		className += " active";
	}
}
<a href="/channel/@Model.Id/@Model.Tab.Tab.ToString().ToLower()" class="@className">@Model.Localization.GetString("channel.tab." + Model.Tab.Tab.ToString().ToLower())</a>