@using System.Web
@using Microsoft.AspNetCore.Http.Extensions
@model LightTube.Contexts.OAuthContext

@{
	Layout = "_AccountLayout";
}

@if (Model.Error is null)
{
	<p style="text-align:center;color:#555;font-style:italic">
		Logged in as <b>@Model.User!.UserID</b>
	</p>
	<p>
		<b>@Model.Name</b> wants to access your LightTube account
		<br/><br/>
		This application will be able to:
	</p>

	<div class="scope-list">
		@foreach (string scope in Utils.GetScopeDescriptions(Model.Scopes))
		{
			@if (scope.StartsWith("!"))
			{
				<div class="scope">
					<svg class="icon scope-icon danger" width="24" height="24" fill="red">
						<use xlink:href="/svg/bootstrap-icons.svg#exclamation-circle"/>
					</svg>
					@scope[1..]
				</div>
			}
			else
			{
				<div class="scope">
					<svg class="icon scope-icon" width="24" height="24" fill="green">
						<use xlink:href="/svg/bootstrap-icons.svg#check-circle"/>
					</svg>
					@scope
				</div>
			}
		}
	</div>


	<div class="signin-buttons">
		<a href="/account/logout?redirectUrl=@(HttpUtility.UrlEncode("/account/login?redirectUrl=" + HttpUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery())))" class="signin-button-secondary">Use another account</a>
		<input type="submit" class="signin-button-primary" value="Authorize">
	</div>
}