@model LightTube.Contexts.MessageContext
@{
	ViewData["Title"] = "Delete Account";
	Layout = "_Layout";
}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
	<h1>@Model.Message</h1>
}

<form asp-action="Delete" method="POST" class="login-form">
	<h1>Delete Account</h1>
	<input name="email" type="email" placeholder="Email">
	<input name="password" type="password" placeholder="Password">
	<input type="submit" value="Delete Account">
</form>