@using LightTube.Database
@model LightTube.Contexts.LoginsContext
@{
	ViewData["Title"] = "Active Logins";
	Layout = "_Layout";
}


<ul>
	@foreach (LTLogin login in Model.Logins)
	{
		<li>@login.Identifier - @login.UserAgent</li>
	}
</ul>