@model AccountContext

@{
	Layout = "_AccountLayout";
	Model.HtmlTitle = "Create an account";
}

@if (Configuration.GetVariable("LIGHTTUBE_DISABLE_REGISTRATION", "false") != "false")
{
	<p>This instance doesn't allow account registrations</p>	

	<div class="signin-buttons">
		<a href="/" class="signin-button-secondary">Go to home</a>
		<a href="/account/login" class="signin-button-primary" style="text-decoration:none">Sign in instead</a>
	</div>
}
else
{
	<div class="signin-input-container">
		<input class="text" name="userid" placeholder="UserID" value="@Model.UserID">
	</div>

	<div class="signin-input-container">
		<input class="text" name="password" id="password" type="password" placeholder="Password">
	</div>

	<div class="signin-input-container">
		<input class="text" name="passwordCheck" type="password" placeholder="Confirm Password">
	</div>

	<div class="signin-checkbox" style="display:none;">
		<input id="showpass" type="checkbox">
		<label for="showpass">Show password</label>
	</div>
	<div class="signin-checkbox">
		<input id="remember" name="remember" type="checkbox">
		<label for="remember">Remember me</label>
	</div>

	<div class="signin-buttons">
		<a href="/account/login" class="signin-button-secondary">Sign in instead</a>
		<input type="submit" class="signin-button-primary" value="Sign up">
	</div>
}
