/* common stuff */

* {
    box-sizing: border-box;
}

.divider {
    flex-grow: 1;
}

.max-lines-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.max-lines-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* shared layout */

body {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas: "top-bar top-bar" "guide app";
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body.noguide {
    grid-template-areas: "top-bar top-bar" "app app";
}

.top-bar {
    grid-area: top-bar;

    display: flex;
    padding: 0 16px;
    align-items: center;
}

.divider {
    flex-grow: 1;
}

.top-bar > .search-button {
    display: none;
}

.top-bar > form {
    height: 40px;
    flex-grow: 1;
    display: flex;
}

.top-bar > form > input {
    box-sizing: border-box;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 0;
}

.top-bar > form > input[type=text] {
    flex-grow: 1;
}

.top-bar > form > input[type=submit] {
    width: 64px;
    flex-basis: 64px;
}

.logo {
    color: var(--text-primary);
    text-decoration: none;
    font-size: larger;
}

.guide {
    grid-area: guide;
    width: 300px;
    height: calc(100vh - 56px);
}

.account {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.icon-button, a.icon-button > img {
    width: 32px;
    height: 32px;
}

.account-menu {
    display: none;
}

.account:hover .account-menu {
    display: block;

    position: absolute;
    top: 56px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid var(--border-color);
}

.account:hover {
    background-color: var(--context-menu-background);
}

.app {
    grid-area: app;
    background-color: var(--app-background);
}

.noguide > .guide {
    display: none;
}

/* guide */

.guide-item:hover {
    background-color: #f2f2f2;
}

.guide-item > a {
    height: 40px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
}

.guide-item > a > .icon {
    height: 24px;
    width: 24px;
    margin-right: 24px;
}

.guide-item:hover {
    background-color: #f2f2f2;
}

.guide-item.active {
    background-color: #E5E5E5;
}

.guide hr {
    color: #fff;
}

.guide > p {
    padding: 16px 24px;
    font-size: small;
    font-weight: bold;
}

.guide > p > a {
    color: var(--text-secondary);
    text-decoration: none;
}

/* guide (minmode) */

.guide.minmode {
    width: 72px;
}

.guide.minmode > .guide-item {
    /* height: 74px; */
    padding-top: 16px;
    padding-bottom: 14px;
}

.guide.minmode > .guide-item > a {
    height: 40px;
    padding: 0 24px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: x-small;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;
    justify-content: center;
}

.guide.minmode > .guide-item > a > .icon {
    width: 24px;
    margin-right: 0;
}

.guide.minmode > .guide-item:hover {
    background-color: #f2f2f2;
}

.guide.minmode > .guide-item.active {
    background-color: #E5E5E5;
}

.guide.minmode > .hide-on-minmode {
    display: none;
}

@media screen and (max-width: 600px) {
    .guide, .top-bar > form {
        display: none;
    }

    .search-button {
        display: block !important;
    }
}

/* watch page */

.watch-page {
    margin: 24px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {
    .watch-page {
        flex-direction: column;
    }
}

.watch-page > .primary {
    flex-grow: 1;
}

.video-player-container {
    max-width: 100%;
    margin: auto;
    max-height: 75vh;
    aspect-ratio: 16 / 9;
}

.player {
    width: 100%;
    height: 100%;
}

.player.error {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.player.error > * {
    background-color: #000;
    color: #fff;
}

.video-info {
    color: var(--text-secondary);
}

.video-title {
    color: var(--text-primary);
    font-size: larger;
    margin-top: 8px;
}

.video-info-bar {
    font-size: unset;
    column-gap: 16px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.video-info-bar > a {
    color: var(--text-secondary);
    text-decoration: none;
}

.engagement-info {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    padding: 8px 0;
}

.engagement-info > * {
    display: flex;
}

.engagement-bar {
    height: 2px;
    background-color: var(--engagement-bar-background);
}

.engagement-bar > div {
    height: 2px;
    background-color: var(--engagement-bar-foreground);
}

.channel-info {
    display: grid;
    grid-template-columns: 48px max-content 1fr min-content;
    grid-template-rows: 48px;
    grid-auto-columns: 1fr;
    gap: 8px;
    grid-auto-flow: row;
    grid-template-areas: "avatar name . subscribe-button";

    padding-top: 16px;
}

.avatar {
    grid-area: avatar;
}

.avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name {
    grid-area: name;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name > a {
    color: var(--text-primary);
    text-decoration: none;
}

.subscribe-button {
    grid-area: subscribe-button;

    background-color: #c00;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 16px;
    border: none;

    height: 40px;
}

.subscribe-button.subscribed {
    background-color: #ECECEC;
    color: var(--text-secondary);
}

.description {
    padding-left: 56px;
}

.description > a {
    text-decoration: none;
    color: #065fd4;
}

.watch-page > .secondary {
    width: 400px;
}

.resolutions-list {
    width: 400px;
    padding: 4px;
    border: 1px solid var(--border-color);
    margin: 0 16px;
}

.resolutions-list > div {
    display: flex;
    column-gap: 16px;
}

/* recommended video list */

.recommended-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    padding: 16px;
    width: 400px;
}

.recommended-list > .video {
    display: grid;
    grid-template-columns: 168px 1fr;
    grid-template-rows: 94px;
    grid-auto-flow: row;
    grid-gap: 0 8px;
    grid-template-areas: "thumbnail info";

    color: var(--text-secondary);
}

/* rich video grid */

.rich-video-grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 40px;
    padding: 16px;
}

.rich-video-grid > .video {
    display: grid;
    grid-template-columns: 40px 240px;
    grid-template-rows: 160px 52px;
    grid-auto-flow: row;
    grid-gap: 10px 0;
    grid-template-areas:
    "thumbnail thumbnail"
    "avatar info";

    color: var(--text-secondary);
}

/* list video item */

.video a {
    text-decoration: none;
    color: var(--text-secondary);
}

.video > .thumbnail {
    grid-area: thumbnail;

    background-color: #CCC;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4px;

    background-position-y: center;
    background-size: cover;
}

.video > .thumbnail > .video-length {
    font-size: smaller;

    background-color: #0008;
    color: #fff;
    padding: 2px;
    border-radius: 2px;
}

.video > .info {
    grid-area: info;
    font-size: small;
}

.video > .info > .title {
    color: var(--text-primary) !important;
    font-weight: bold;
    font-size: initial;
    margin-bottom: 8px;
}

/* channel page */

.channel-banner {
    display: block;
    width: 100%;
    height: fit-content;
    aspect-ratio: 6.2;
    background-color: #000a;
    background-size: contain;
}

.channel-info-container {
    background-color: #fff;
}

.channel-info-container > .channel-info {
    max-width: 1200px;
    margin: auto;

    grid-template-columns: 80px max-content 1fr min-content;
    grid-template-rows: 80px;
    gap: 16px;
    padding: 16px 0;
}

.channel-info-container > .channel-info > .subscribe-button {
    margin: 20px 0;
}

.channel-info-container > .channel-info > .name > *:first-child {
    font-size: larger;
    color: var(--text-primary);
}

.channel-info-container > .channel-info > .name > * {
    color: var(--text-secondary);
}


/* channel video grid */

.video-grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 40px;
    padding: 16px;
}

.video-grid > .video {
    text-decoration: none;
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 160px 52px;
    grid-auto-flow: row;
    grid-gap: 10px 0;
    grid-template-areas:
    "thumbnail"
    "info";

    color: var(--text-secondary);
}

.video-grid > .avatar {
    display: none;
}

/* Pagination links */

.pagination-buttons {
    border-top: 1px solid var(--border-color);
    width: 100%;
    display: flex;
}

.pagination-buttons > *{
    height: 3rem;
    line-height: 3rem;
    color: var(--text-secondary);
    text-decoration: none;
}
