/* common stuff */

.max-lines-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.max-lines-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* shared layout */

body {
    margin: 48px 0;
    padding: 0;
    font-family: sans-serif;
}

body.noguide {
    grid-template-areas: "top-bar top-bar" "app app";
}

* {
    box-sizing: border-box;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;

    display: flex;
    align-items: center;
    padding: 0 16px;

    box-shadow: #0004 0 2px 5px;
    background-color: #fff;
}

.top-bar > form {
    display: none;
}

.top-bar > .divider {
    flex-grow: 1;
}

.guide {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;

    border-top: 1px solid #E5E5E5;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #fff;
}

.app {
    background-color: #f9f9f9;
}

a.icon-link, a.icon-link > img {
    width: 32px;
    height: 32px;
}

.noguide > .guide {
    display: none;
}

/* guide */

.guide-item > a {
    height: 100%;
    padding: 0 24px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: x-small;
    align-items: center;
    color: #000;
    text-decoration: none;
    justify-content: center;
}

.guide-item > a > .icon {
    width: 24px;
    margin-right: 0px;
}

.guide-item:hover {
    background-color: #f2f2f2;
}

.guide-item.active {
    background-color: #E5E5E5;
}

.hide-on-minmode {
    display: none;
}

/* top bar */

.logo {
    color: #000;
    text-decoration: none;
    font-size: larger;
}

.account {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account > img {
    width: 32px;
    height: 32px;
}

.account-menu {
    display: none;
}

.search-button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TODO: search bar on /results */

/* rich video grid */

@media screen and (min-width: 850px) {
    .rich-video-grid {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        gap: 16px 16px;
        padding-top: 16px;
        justify-content: space-evenly;
    }

    .rich-video-grid > .video {
        display: grid;
        grid-template-columns: 52px 1fr;
        grid-template-rows: min-content min-content;
        grid-auto-flow: row;
        grid-gap: 10px 0;
        grid-template-areas:
    "thumbnail thumbnail"
    "avatar info";

        margin-bottom: 16px;
        width: 400px;
    }
}

@media screen and (max-width: 850px) {
    .rich-video-grid {
        width: 100%;
    }

    .rich-video-grid > .video {
        display: grid;
        grid-template-columns: 52px 1fr;
        grid-template-rows: min-content min-content;
        grid-auto-flow: row;
        grid-gap: 10px 0;
        grid-template-areas:
    "thumbnail thumbnail"
    "avatar info";

        margin-bottom: 16px;
    }
}

/* list video item */

.video a {
    text-decoration: none;
    color: #606060;
}

.video > .thumbnail {
    grid-area: thumbnail;
    background-color: #CCC;
    width: 100%;
    height: fit-content;
    aspect-ratio: 16 / 9;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4px;

    background-position-y: center;
    background-size: cover;
}

.video > .thumbnail > span {
    font-size: smaller;

    background-color: #0008;
    color: #fff;
    padding: 2px;
    border-radius: 2px;
}

.video > .avatar {
    grid-area: avatar;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #E3E3E3;

    margin-left: 12px;
}

.video > .avatar > img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.video > .info {
    grid-area: info;
}

.video > .info > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #606060;
    column-gap: 8px;
    overflow-y: hidden;
}

.video > .info > .title {
    color: #000 !important;
    max-height: 1.1rem;
    overflow-y: hidden;
}

/* watch page */

.watch-page {
    display: grid;
    grid-template-columns: 1fr 256px;
    grid-template-rows: 1fr;
    grid-template-areas: "primary secondary";
}

@media screen and (max-width: 900px) {
    .watch-page {
        grid-template-areas: "primary" "secondary";
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }
}

.primary {
    grid-area: primary;
}

.video-player-container {
    max-width: 100%;
    margin: auto;
    max-height: 75vh;
    aspect-ratio: 16 / 9;
    background-color: #000;
}

.player {
    width: 100%;
    height: 100%;
}

.video-info {
    padding: 12px;
}

.video-title {
    font-size: large;
}

.video-info-bar {
    font-size: small;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: max-content max-content max-content 1fr max-content;
    grid-template-rows: max-content max-content;
    gap: 0px 8px;
    grid-template-areas:
    "views . uploaddate divider divider"
    "engagementbar engagementbar engagementbar engagementbar ytlink";
}

.video-info-bar > span:nth-child(1) {
    grid-area: views;
}

.video-info-bar > .divider {
    grid-area: divider;
}

.video-info-bar > span:nth-child(3) {
    grid-area: uploaddate;
}

.video-info-bar > .engagement-container {
    grid-area: engagementbar;
}

.engagement-bar {
    display: none;
}

.engagement-info {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    padding: 8px 0;
    justify-content: space-evenly;
}

.engagement-info > * {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    padding: 8px 0;
    align-items: center;
}

.engagement-info > * > img {
    width: 24px;
    height: 24px;
}

.video-info-bar > a {
    grid-area: ytlink;
    height: 100%;
    line-height: 60px;

    color: var(--text-primary);
    text-decoration: none;
}

.channel-info {
    display: grid;
    grid-template-columns: 34px max-content 1fr min-content;
    grid-template-rows: 34px;
    grid-auto-columns: 1fr;
    gap: 8px;
    grid-auto-flow: row;
    grid-template-areas: "avatar name . subscribe-button";

    padding: 8px 0;

    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.avatar {
    grid-area: avatar;
}

.avatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name {
    grid-area: name;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name > a {
    color: var(--text-primary);
    text-decoration: none;
}

.name > span {
    font-size: small;
    color: var(--text-secondary);
}

.subscribe-button {
    grid-area: subscribe-button;

    background-color: #0000;
    color: #c00;
    text-transform: uppercase;
    border: none;

    height: 100%;
}

.subscribe-button.subscribed {
    color: var(--text-secondary);
}

.secondary {
    grid-area: secondary;

    padding: 16px 8px;
}

.resolutions-list {
    width: 100%;
    padding: 4px;
    border: 1px solid var(--border-color);
    margin-bottom: 16px;
}

.resolutions-list > div {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
}

.resolutions-list > div > * {
    line-height: 32px;
}

.recommended-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.recommended-list > .video {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    grid-auto-flow: row;
    grid-gap: 0 8px;
    grid-template-areas: "thumbnail" "info";

    color: var(--text-secondary);
}

.recommended-list > .video > .info {
    font-size: small;
}

.recommended-list > .video > .info > a {
    font-size: initial;
}

.recommended-list > .video > .info > div {
    flex-wrap: wrap;
    max-height: unset;
}

/* channel page */

.channel-banner {
    display: block;
    width: 100%;
    height: fit-content;
    aspect-ratio: 6.2;
    background-color: #000a;
    background-size: contain;
}

.channel-info-container {
    background-color: #fff;
}

.channel-info-container > .channel-info {
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px min-content;
    grid-template-areas: "avatar name" ". subscribe-button";
    column-gap: 16px;
    padding: 16px;
}

.channel-info-container > .channel-info > .subscribe-button {
    width: max-content;
}

.channel-info-container > .channel-info > .name > *:first-child {
    font-size: larger;
    color: var(--text-primary);
}

.channel-info-container > .channel-info > .name > * {
    color: var(--text-secondary);
}

/* channel video "grid" */

.video-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 16px;
    row-gap: 12px;
    padding: 0 12px;
}

.video-grid > .video {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 90px;
    grid-auto-flow: row;
    grid-gap: 10px 0;
    grid-template-areas:
    "thumbnail info";

    color: var(--text-secondary);
    text-decoration: none;
}

.video-grid > .avatar {
    display: none;
}

.video-grid > .video > .info > span {
    font-weight: bold;
    font-size: initial;
}

.video-grid > .video > .info > div > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Pagination links */

.pagination-buttons {
    border-top: 1px solid var(--border-color);
    width: 100%;
    display: flex;
}

.pagination-buttons > * {
    height: 3rem;
    line-height: 3rem;
    color: var(--text-secondary);
    text-decoration: none;
}

.pagination-buttons > .divider {
    flex-grow: 1;
}
