html {
  background-color: #33353e;
  color: #ccc;
  font-family: sans-serif;
}

a {
  color: #ccc;
  text-decoration: underline;
}

a:active {
  color: #aaa;
}

a:visited {
  color: #ccc;
}

a:hover {
  color: #bbb;
}

header {
  background-color: #0003;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

header > .logo {
  text-decoration: none;
  color: #ccc;
  font-size: 1.5rem;
  margin: auto .5rem;
}

.flex-divider {
  flex-grow: 1
}

@media screen and (max-width: 700px) {
  header > .flex-divider {
    flex-grow: 0
  }
}

header > form {
  flex-grow: 2;
  max-width: 600px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

header > form > input {
  color: #ccc;
}

header > form > input[type=text] {
  flex-grow: 1;
  background-color: #0002;
  border: 1px solid #222;
}

header > form > input[type=submit] {
  background-color: #222;
  border: 1px solid #222;
}

.page-container {
  margin-top: 3rem;
  padding: 1rem;
}

.video-page-container {
  display: flex;
  column-gap: 1rem;
  flex-direction: row;
}

.video-container {
  flex-grow: 1;
}

video, #player {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: fit-content;
  background-color: #000;
}

.resolutions-container {
  border: 1px solid black;
  background-color: #0003;
  padding: 1rem;
}

.resolutions-container > h2 {
  margin-top: 0;
  padding-top: 0;
}

.resolutions-container > ul {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  list-style: none;
}

.video-info-bar {
  display: flex;
  column-gap: 10px;
  border-bottom: 1px solid #ccc;
}

#like-count {
  margin-right: 5px;
}

#dislike-count {
  margin-left: 5px;
}

.engagement-bar {
  width: 100%;
  height: 5px;
  background-color: darkred;
}

.engagement-bar > div {
  width: 0;
  height: 5px;
  background-color: green;
}

.uploader {

}

.uploader > a {
  font-weight: bold;
  text-decoration: none;
}

.recommendations-container {
  column-gap: 5px;
  width: 400px;
}

.recommendation {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-bottom: 10px;
  column-gap: .5rem;
}

.recommendation > * {
  flex-grow: 1;
}

.recommendation > .thumbnail {
  min-width: 150px;
  max-width: 150px;
  height: fit-content;
  aspect-ratio: 16 / 9;
  background-size: contain;
  flex-basis: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.recommendation > .thumbnail.thumbnail-playlist {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.recommendation > .thumbnail > span {
  margin: 5px;
  background-color: #000D;
  padding: 3px;
}

.recommendation > .thumbnail > div {
  height: 100%;
  width: 40%;
  vertical-align: center;
  background-color: #000D;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  justify-content: center;
  align-items: center;
}

.recommendation > .info {
  display: flex;
  flex-direction: column;
}

.recommendation > .info > .title {
  max-lines: 2;
  font-weight: bold;
  text-decoration: none;
}

.recommendation > .info > .uploader {
  max-lines: 1;
  overflow: hidden;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .results-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.result {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  column-gap: 1rem;
}

.result > * {
  flex-grow: 1;
}

.result > .thumbnail {
  min-width: 350px;
  max-width: 350px;
  height: fit-content;
  aspect-ratio: 16 / 9;
  background-size: contain;
  flex-basis: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.result > .thumbnail.avatar {
  justify-content: center;
  align-items: center;
}

.result > .thumbnail.avatar > img {
  border-radius: 50%;
}

.result > .thumbnail.thumbnail-playlist {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.result > .thumbnail > span {
  margin: 5px;
  background-color: #000D;
  padding: 3px;
}

.result > .thumbnail > div {
  height: 100%;
  width: 40%;
  vertical-align: center;
  background-color: #000D;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  justify-content: center;
  align-items: center;
}

.result > .info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.result > .info > .title {
  max-lines: 2;
  font-weight: bold;
  text-decoration: none;
}

.result > .info > .uploader {
  max-lines: 1;
  overflow: hidden;
  text-decoration: none;
}

.page-controls {
  display: flex;
  flex-direction: row;
}
